
/* Start of 🪻 */

#🪻 {
  background-color: black;
  max-height: 100vh;
  overflow: hidden;
}

#🪻 video {
  min-height: 100vh;
  max-width: 100%;
}

/* End of 🪻 */

/* Start of 🌸 */

#🌸 {
  background-color: black;
  max-height: 100vh;
  overflow: hidden;
}

#🌸 video {
  min-height: 100vh;
  max-width: 100%;
}

/* End of 🌸 */

/* Start of 🌺 */

#🌺 {
  background-color: black;
  max-height: 100vh;
  overflow: hidden;
}

#🌺 video {
  min-height: 100vh;
  max-width: 100%;
}

/* End of 🌺 */

/* Start of 🌷 */

#🌷 {
  background-color: black;
  max-height: 100vh;
  overflow: hidden;
}

#🌷 video {
  min-height: 100vh;
  max-width: 100%;
}

/* End of 🌷 */

/* Start of 🌼 */

#🌼 {
  background-color: black;
  max-height: 100vh;
  overflow: hidden;
}

#🌼 video {
  min-height: 100vh;
  max-width: 100%;
}

/* End of 🌼 */
