/* Start of Garden */

/* Start of 💐 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@400;500&display=swap');

@font-face {
  font-family: JollyBee;
  src: url('./assets/VAG Rounded Bold.ttf');
}

#root {
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
}

html {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

html {
  scroll-snap-type: y mandatory;
}

.flowers {
  scroll-snap-align: start;
}

@keyframes gradient-movement { 
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}

@keyframes bloom-doom {
  from {
    font-size: 0rem;
    text-shadow: none;
  }
  to {
    font-size: 9rem;
  }
}

@keyframes petal-dance {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-60deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes bumble-bee {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  20% {
    transform: translateX(-50px) translateY(-50px);
  }
  40% {
    transform: translateX(-100px) translateY(50px);
  }
  60% {
    transform: translateX(-150px) translateY(-50px);
  }
  80% {
    transform: translateX(-100px) translateY(-100px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}

#💐 #navigation {
  position: fixed;
  z-index: 2;
  opacity: 1;
  height: 100%;
  display: flex;
  align-items: center;
}

#💐 #navigation #nav-list {
  font-size: 2rem;
  list-style: none;
}

#💐 #navigation #nav-list button {
  padding: 0;
  border: none;
  background: none;
  font-size: 5rem;
  transition: font-size 500ms;
}

button[name='🪻'].pollinate::after {
  content: '🦋';
  position: absolute;
  left: 7%;
  transform: rotate(45deg);
}

button[name='🌸'].pollinate::after {
  content: '🦋';
  position: absolute;
  left: 0;
}

button[name='🌺'].pollinate::after {
  content: '🦋';
  position: absolute;
  left: 2%;
  transform: rotate(15deg);
}

button[name='🌷'].pollinate::after {
  content: '🦋';
  position: absolute;
  left: 7%;
  transform: rotate(30deg);
}

button[name='🌼'].pollinate::after {
  content: '🦋';
  position: absolute;
  left: 9%;
  transform: rotate(5deg);
}

#💐 #navigation #nav-list button:hover {
  animation: petal-dance 350ms ease-in-out infinite;
}

.non-selected-buttons {
  font-size: 2.5rem!important;
}

.non-selected-buttons:hover {
  animation: none!important;
}

#💐 #navigation #nav-list button:hover {
  border: none;
}
#💐 #navigation #nav-list button:focus,
button:focus-visible {
  outline: none;
}

/* End of 💐 */

/* Start of 🪻 */

#🪻 {
  background: linear-gradient(to bottom, #9100B5, pink);
  max-height: 100vh;
  position: relative;
  overflow: hidden;
}

#🪻 video {
  min-height: 100vh;
  max-width: 100%;
}

#🪻 h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 0rem;
  height: 11rem;
  text-shadow: -10px -10px white;
  background: -webkit-linear-gradient(180deg, #B5007E, #9100B5, #3700B5);
  background-size: 200% auto;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
  animation: gradient-movement 2.5s ease infinite;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.🪻-watered{
  font-size: 0rem;
  animation: bloom-doom 3s forwards;
  animation-delay: calc(250ms * var(--i));
}

.🪻-wilt {
  font-size: 9rem;
  animation: bloom-doom 1.5s forwards;
  animation-direction: reverse;
  animation-delay: calc(250ms * var(--i));
}

#🪻 .center-div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* End of 🪻 */

/* Start of 🌸 */

#🌸 {
  background: linear-gradient(to bottom, pink, orange);
  max-height: 100vh;
  position: relative;
  overflow: hidden;
}

#🌸 video {
  min-height: 100vh;
  max-width: 100%;
}

#🌸 h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 0rem;
  text-shadow: -15px -15px white;
  background: -webkit-linear-gradient(180deg, #FF8D57, #FFC0CB, #FF57C9);
  background-size: 200% auto;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
  animation: gradient-movement 2.5s ease infinite;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.🌸-watered{
  font-size: 0rem;
  animation: bloom-doom 3s forwards;
  animation-delay: calc(250ms * var(--i));
}

.🌸-wilt {
  font-size: 9rem;
  animation: bloom-doom 1.5s forwards;
  animation-direction: reverse;
  animation-delay: calc(250ms * var(--i));
}

#🌸 .center-div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* End of 🌸 */

/* Start of 🌺 */

#🌺 {
  background: linear-gradient(to bottom, orange, rgb(255, 0, 30));
  max-height: 100vh;
  position: relative;
  overflow: hidden;
}

#🌺 video {
  min-height: 100vh;
  max-width: 100%;
}

#🌺 h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 0rem;
  text-shadow: -15px -15px white;
  background: -webkit-linear-gradient(180deg, #D9FF00, #FFA500, #FF2600);
  background-size: 200% auto;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
  animation: gradient-movement 2.5s ease infinite;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.🌺-watered{
  font-size: 0rem;
  animation: bloom-doom 3s forwards;
  animation-delay: calc(250ms * var(--i));
}

.🌺-wilt {
  font-size: 9rem;
  animation: bloom-doom 1.5s forwards;
  animation-direction: reverse;
  animation-delay: calc(250ms * var(--i));
}

#🌺 .center-div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* End of 🌺 */

/* Start of 🌷 */

#🌷 {
  background: linear-gradient(to bottom, rgb(255, 0, 30), white);
  max-height: 100vh;
  position: relative;
  overflow: hidden;
}

#🌷 video {
  min-height: 100vh;
  max-width: 100%;
}

#🌷 h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 0rem;
  height: 11rem;
  text-shadow: -15px -15px white;
  background: -webkit-linear-gradient(180deg, #FF6200, #FF001E, #FF009E);
  background-size: 200% auto;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
  animation: gradient-movement 2.5s ease infinite;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.🌷-watered{
  font-size: 0rem;
  animation: bloom-doom 3s forwards;
  animation-delay: calc(250ms * var(--i));
}

.🌷-wilt {
  font-size: 9rem;
  animation: bloom-doom 1.5s forwards;
  animation-direction: reverse;
  animation-delay: calc(250ms * var(--i));
}

#🌷 .center-div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* End of 🌷 */

/* Start of 🌼 */

#🌼 {
  background: linear-gradient(to bottom, white, #9100B5);
  max-height: 100vh;
  position: relative;
  overflow: hidden;
}

#🌼 video {
  min-height: 100vh;
  max-width: 100%;
}

#🌼 h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 0rem;
  height: 11rem;
  text-shadow: -15px -15px white;
  background: -webkit-linear-gradient(180deg, #8EFF00, #FFF000, #FF7100);
  background-size: 200% auto;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
  animation: gradient-movement 2.5s ease infinite;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.🌼-watered{
  font-size: 0rem;
  animation: bloom-doom 3s forwards;
  animation-delay: calc(250ms * var(--i));
}

.🌼-wilt {
  font-size: 9rem;
  animation: bloom-doom 1.5s forwards;
  animation-direction: reverse;
  animation-delay: calc(250ms * var(--i));
}

#🌼 .center-div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* End of 🌼 */

/* End of Garden */

/* Start of 🌻 */

#navigation-page {
  position: fixed;
  z-index: 2;
  opacity: 1;
  height: 100%;
  display: flex;
  align-items: center;
  right: 0;
  padding-right: 40px;
}

#navigation-page #nav-list-page {
  font-size: 2rem;
  list-style: none;
}

#navigation-page #nav-list-page button {
  padding: 0;
  border: none;
  background: none;
  font-size: 2.5rem;
  transition: font-size 500ms;
}

#navigation-page #nav-list-page button:hover {
  font-size: 5rem;
}

#navigation-page #nav-list-page button:hover {
  border: none;
}
#navigation-page #nav-list-page button:focus,
button:focus-visible {
  outline: none;
}

#🌻 {
  background: linear-gradient(to bottom, white, brown);
  max-height: 100vh;
  position: relative;
  overflow: hidden;
}

#🌻 video {
  min-height: 100vh;
  max-width: 100%;
}

/* End of 🌻 */

/* Start of Garden */

#🪴 #🚿 {
  max-height: 100vh;
  position: relative;
  overflow: hidden;
}

#🪴 #🚿 img {
  min-height: 100vh;
  max-width: 100%;
  margin-top: -15%;
  transform: scaleX(-1);
}

.custom-shape-divider-bottom-1705297075 {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1705297075 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
  z-index: 1;
}

.custom-shape-divider-bottom-1705297075 .shape-fill {
  fill: #FFFFFF;
}

#🪴 #germinate {
  height: 25rem;
  max-height: 100vh;
  background-color: white;
  position: relative;
  z-index: 1;
}

#🪴 #germinate img {
  position: absolute;
  height: 80%;
  top: 15%;
  left: 25.8%;
  transform: rotate(30deg);
  animation: bumble-bee 1s infinite;
}

.fertilize {
  color: #231F20;
  position: absolute;
  width: 100%;
  font-family: 'Parisienne', cursive;
  font-size: 5rem;
  top: 0;
  left: -7%;
}

.fertilize span {
  color: #E0163D;
  font-family: JollyBee;
}

.bloom {
  color: #231F20;
  position: absolute;
  bottom: -12.1%;
  right: -11.1%;
  width: 100%;
  font-family: 'Birthstone Bounce', cursive;
  font-weight: 400;
  font-size: 12rem;
  background: -webkit-linear-gradient(180deg, #16A2E0, #16E0B9, #16E054);
  background-size: 200% auto;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-movement 2.5s ease infinite;
}

.custom-shape-divider-top-1705309324 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1705309324 svg {
  position: relative;
  display: block;
  width: calc(121% + 1.3px);
  height: 151px;
}

.custom-shape-divider-top-1705309324 .shape-fill {
  fill: #FFFFFF;
}

#🪴 #🪻🌱 {
  max-height: 100vh;
  position: relative;
  overflow: hidden;
}

#🪴 #🪻🌱 #hyacinth-bg {
  min-height: 100vh;
  max-width: 100%;
  margin-top: -5%;
}

#🪴 #🪻🌱 #CaramelSmalls {
  position: absolute;
  height: 25%;
  z-index: 1;
  bottom: 31.5%;
  left: 2%;
}

#🪴 #🪻🌱 #KangaIru {
  position: absolute;
  height: 25%;
  z-index: 1;
  bottom: 5%;
  left: -2.5%;
}

#🪴 #🪻🌱 #pink_bg {
  position: absolute;
  height: 30%;
  bottom: 1.5%;
  left: 1.5%;
}

#🪴 #🪻🌱 #blue_bg {
  position: absolute;
  height: 30%;
  bottom: 30%;
  left: 1.5%;
}

/* End of Garden */
